|
  Hello, #{@invite.name}!

  You may or may not have heard, but we (Jeff and Stephanie, that is) are getting married this July, and we'd love to have you there!

  Please, please RSVP, even if you can't make it. This helps us get an accurate count. To RSVP, simply visit the following URL in your browser:

  #{url_for invite_view_url(@invite.code)}

  Here's the important bits:

  First off, the wedding ceremony itself

  When: July 12th, 2014, 2pm
  Where: Pulgas Water Temple
         80 Cañada Rd
         Redwood City, CA 94062

  How long: About an hour

  After the ceremony, we will be having a small reception:

  When: July 12th, 2014, 3:30
  Where: Crystal Springs United Methodist Church
         2145 Bunker Hill Dr
         San Mateo, CA 94402

  How long: about two and a half hours


  Thanks!
  Jeff and Stephanie
